# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment variables
.env

# Data files
data/raw/
data/processed/

# Jupyter
.ipynb_checkpoints/

# Node / frontend
node_modules/
.next/
out/
dist/

# OS / editor
.DS_Store
Thumbs.db
.vscode/

AI_TRADING_LAB_PROJECT_STATE.md

context

#cd C:\Users\carlj\Documents\ai-trading-lab                                                                                                         
#>>                                              
#>> git status       

#git add .                                                                                                                                          
#git commit -m "Added the a prediction route to the API"


#cd C:\Users\carlj\Documents\ai-trading-lab                                                                                                         
#>> git config --global credential.helper manager          
#>> git push -u origin main